1. While loops

(a) Write a while loop to print out the squares of all the integers from 1 up to 20

In [ ]:
i = 1

while i <= 20:
    print(i ** 2)
    i += 1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

(b) Copy the while loop above, and modify it to print whether each square is even or odd

In [ ]:
i = 1

while i <= 20:
    isq = i ** 2

    if isq % 2 == 0:
        statement = "even"
    else:
        statement = "odd"

    print(str(isq) + " is " + statement + ".")
    i += 1

1 is odd.
4 is even.
9 is odd.
16 is even.
25 is odd.
36 is even.
49 is odd.
64 is even.
81 is odd.
100 is even.
121 is odd.
144 is even.
169 is odd.
196 is even.
225 is odd.
256 is even.
289 is odd.
324 is even.
361 is odd.
400 is even.

(c) Write a while loop to calculate and print the cubes of all the integers starting from 1, until the cubes reach a value of 1000

In [ ]:
i = 1

while i ** 3 <= 1000:
    print(i ** 3)
    i += 1

1
8
27
64
125
216
343
512
729
1000

(d) Write a while loop to calculate and print out the sum of all the integers starting from 1, up to the first sum value exceeding 1000, and print whether each value is even or odd. What is the last integer added?

In [ ]:
i = 0
sum = 0

while sum <= 1000:
    i += 1
    sum += i

    if sum % 2 == 0:
        statement = "even"
    else:
        statement = "odd"

    print(str(sum) + " is " + statement + ".")

print("The last integer added is " + str(i) + ".")

1 is odd.
3 is odd.
6 is even.
10 is even.
15 is odd.
21 is odd.
28 is even.
36 is even.
45 is odd.
55 is odd.
66 is even.
78 is even.
91 is odd.
105 is odd.
120 is even.
136 is even.
153 is odd.
171 is odd.
190 is even.
210 is even.
231 is odd.
253 is odd.
276 is even.
300 is even.
325 is odd.
351 is odd.
378 is even.
406 is even.
435 is odd.
465 is odd.
496 is even.
528 is even.
561 is odd.
595 is odd.
630 is even.
666 is even.
703 is odd.
741 is odd.
780 is even.
820 is even.
861 is odd.
903 is odd.
946 is even.
990 is even.
1035 is odd.
The last integer added is 45.

(e) Write a while loop to calculate and print out the product of all the integers starting at 1, up to the first product value exceeding 1000. What is the last integer multiplied?

In [ ]:
i = 0
sum = 1

while sum <= 1000:
    i += 1
    sum *= i
    print(sum)

print("The last integer muliplied is " + str(i) + ".")

1
2
6
24
120
720
5040
The last integer muliplied is 7.

2. For loops and range function

(a) Use the range function and a for loop to calculate and print the square of all the integers from 1 up to 20

In [ ]:
for i in range(1, 20 + 1):
    isq = i ** 2
    print(isq)

print("For loop complete.")

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
For loop complete.

(b) Use the range function and a for loop to calculate and print the cube of all the integers from 1 up to 20, and print whether they are even or odd.

In [ ]:
for i in range(1, 20 + 1):
    icube = i ** 3

    if icube % 2 == 0:
        statement = "even"
    else:
        statement = "odd"

    print(str(icube) + " is " + statement + ".")

1 is odd.
8 is even.
27 is odd.
64 is even.
125 is odd.
216 is even.
343 is odd.
512 is even.
729 is odd.
1000 is even.
1331 is odd.
1728 is even.
2197 is odd.
2744 is even.
3375 is odd.
4096 is even.
4913 is odd.
5832 is even.
6859 is odd.
8000 is even.

(c) Use the range function and a for loop to calculate the sum of all the integers from 1 up to 30. Print the values where the sum is divisible by 3.

In [ ]:
sum = 0

for i in range(1, 30 + 1):
    sum += i

    if sum % 3 == 0:
        print(sum)

3
6
15
21
36
45
66
78
105
120
153
171
210
231
276
300
351
378
435
465

(d) Split the string "Hello world! This is a string!" into a list of words, using spaces as the separators. Use a for loop to run through the list and print the number of characters in each word.

In [ ]:
words = "Hello world! This is a string!".split(" ")

for word in words:
    print(len(word))

5
6
4
2
1
7

(e) For the list of words in part (d), if the word has more than 4 characters, print the word, otherwise skip to the next word in the list.

In [ ]:
for word in words:
    if len(word) > 4:
        print(word)

Hello
world!
string!

3. (2x) Using for loops to iterate through a dictionary.

(a) Iterate through the keys of the Chemical_element_data dictionary from Question 6 of Homework 2, including the fluorine data, and print out the key-value pairs. Hint: use nested for loops: the outer for loop shoulld loop over the elements, and the inner for loop should loop over the properties.

In [ ]:
Chemical_element_data = {
    "Hydrogen": {
        "valence": 1,
        "atomic_mass": 1.008,
        "first_ionization_energy": 1310,
        "electronegativity": 2.1,
    },
    "Carbon": {
        "valence": 4,
        "atomic_mass": 12.01,
        "first_ionization_energy": 1090,
        "electronegativity": 2.5,
    },
    "Oxygen": {
        "valence": 6,
        "atomic_mass": 16.0,
        "first_ionization_energy": 1310,
        "electronegativity": 3.5,
    },
    "Fluorine": {
        "valence": 7,
        "atomic_mass": 19.0,
        "first_ionization_energy": 1680,
        "electronegativity": 4.0,
    },
}

for element in Chemical_element_data:
    print(element)

    for properties in Chemical_element_data[element]:
        print("    " + properties + ": " + str(Chemical_element_data[element][properties]))

Hydrogen
    valence: 1
    atomic_mass: 1.008
    first_ionization_energy: 1310
    electronegativity: 2.1
Carbon
    valence: 4
    atomic_mass: 12.01
    first_ionization_energy: 1090
    electronegativity: 2.5
Oxygen
    valence: 6
    atomic_mass: 16.0
    first_ionization_energy: 1310
    electronegativity: 3.5
Fluorine
    valence: 7
    atomic_mass: 19.0
    first_ionization_energy: 1680
    electronegativity: 4.0

(b) Iterate through the electronegativities in Chemical_element_data dictionary, and find which element in the dictionary has the lowest and highest electronegativity. Hint: assign the value for first entry to a variable that records the minimum value so far, then check if each subsequent value is less than this value - if so, then assign this lower value to the minimum value.

In [ ]:
lowestEN = 0
highestEN = 0
lowestName = None
highestName = None

for element in Chemical_element_data:
    if lowestEN == 0 or Chemical_element_data[element]["electronegativity"] < lowestEN:
        lowestEN = Chemical_element_data[element]["electronegativity"]
        lowestName = str(element)

    if highestEN == 0 or Chemical_element_data[element]["electronegativity"] > highestEN:
        highestEN = Chemical_element_data[element]["electronegativity"]
        highestName = str(element)

print(lowestName + " has the lowest electronegativity, with a value of " + str(lowestEN) + ".")
print(highestName + " has the highest electronegativity, with a value of " + str(highestEN) + ".")

Hydrogen has the lowest electronegativity, with a value of 2.1.
Fluorine has the highest electronegativity, with a value of 4.0.

(c) Find the average (mean) of the first ionization energies of the elements in the Chemical_element_dictionary (mean = sum of values divided by number of values)

In [ ]:
sum = 0

for element in Chemical_element_data.keys():
    sum += Chemical_element_data[element]["first_ionization_energy"]

print(sum / len(Chemical_element_data))

1347.5

(d) Find the standard deviation of the atomic masses of the elements in the Chemical_element_data dictionary

Standard deviation: ![stddev.png]()

In [ ]:
meanSum = 0
sdSum = 0

for element in Chemical_element_data:
    meanSum += Chemical_element_data[element]["atomic_mass"]

mean = meanSum / len(Chemical_element_data)

for element in Chemical_element_data:
    sdSum += (Chemical_element_data[element]["atomic_mass"] - mean) ** 2

sd = (sdSum / len(Chemical_element_data)) ** 0.5
print("Standard Deviation: " + str(sd))

Standard Deviation: 6.8158653705894165

(e) Store the valence values in a list, and sort them in increasing order

In [ ]:
valenceList = []

for element in Chemical_element_data:
    valenceList.append(Chemical_element_data[element]["valence"])

valenceList.sort()
print(valenceList)

[1, 4, 6, 7]

4. (2x) Using functions to modify and analyze data structures

(a) Implement the function from Lecture 5 to add data to the Chemical_element_data dictionary, and use it to add data for nitrogen

In [ ]:
def chem_store(data, chem_name, chem_attributes):
    attributes_list = chem_attributes.split(",")
    data[chem_name] = {}

    for entry in attributes_list:
        key, value = entry.split("=")
        data[chem_name][key] = float(value)


N_attributes = "valence=5,atomic_mass=14.008,first_ionization_energy=1400,electronegativity=3.0"
chem_store(Chemical_element_data, "Nitrogen", N_attributes)

(b) Use the function in (a) to add the data for the following elements:
Li_attributes="valence=1,atomic_mass=6.94,first_ionization_energy=519,electronegativity=1.0"
Na_attributes="valence=1,atomic_mass=22.97,first_ionization_energy=494,electronegativity=0.9"
Mg_attributes="valence=2,atomic_mass=24.32,first_ionization_energy=736,electronegativity=1.2"
Si_attributes="valence=4,atomic_mass=28.06,first_ionization_energy=787,electronegativity=1.8"
Cl_attributes="valence=7,atomic_mass=35.457,first_ionization_energy=1260,electronegativity=3.0"

In [ ]:
Li_attributes = "valence=1,atomic_mass=6.94,first_ionization_energy=519,electronegativity=1.0"
chem_store(Chemical_element_data, "Lithium", Li_attributes)
Na_attributes = "valence=1,atomic_mass=22.97,first_ionization_energy=494,electronegativity=0.9"
chem_store(Chemical_element_data, "Sodium", Na_attributes)
Mg_attributes = "valence=2,atomic_mass=24.32,first_ionization_energy=736,electronegativity=1.2"
chem_store(Chemical_element_data, "Magnesium", Mg_attributes)
Si_attributes = "valence=4,atomic_mass=28.06,first_ionization_energy=787,electronegativity=1.8"
chem_store(Chemical_element_data, "Silicon", Si_attributes)
Cl_attributes = "valence=7,atomic_mass=35.457,first_ionization_energy=1260,electronegativity=3.0"
chem_store(Chemical_element_data, "Chlorine", Cl_attributes)

(c) Implement the function from Lecture 5 to extract data from Chemical_element_data dictionary, and use it to look up and print out the atomic masses of all the elements in the dictionary.

In [ ]:
def chem_lookup(data, element_name, attribute):
    return data[element_name][attribute]


for element in Chemical_element_data:
    print(str(element) + " has an atomic mass of " + str(chem_lookup(Chemical_element_data, element, "atomic_mass")) + ".")

Hydrogen has an atomic mass of 1.008.
Carbon has an atomic mass of 12.01.
Oxygen has an atomic mass of 16.0.
Fluorine has an atomic mass of 19.0.
Nitrogen has an atomic mass of 14.008.
Lithium has an atomic mass of 6.94.
Sodium has an atomic mass of 22.97.
Magnesium has an atomic mass of 24.32.
Silicon has an atomic mass of 28.06.
Chlorine has an atomic mass of 35.457.

(d) Use the function in (c) to find and print out the names of the elements in the Chemical_element_data dictionary with the lowest and highest first ionization energies

In [ ]:
lowest1IE = 0
highest1IE = 0
lowestName = None
highestName = None

for element in Chemical_element_data:
    if lowest1IE == 0 or Chemical_element_data[element]["first_ionization_energy"] < lowest1IE:
        lowest1IE = Chemical_element_data[element]["first_ionization_energy"]
        lowestName = element

    if highest1IE == 0 or Chemical_element_data[element]["first_ionization_energy"] > highest1IE:
        highest1IE = Chemical_element_data[element]["first_ionization_energy"]
        highestName = str(element)

print(lowestName + " has the lowest first ionization energy, with a value of " + str(lowest1IE) + ".")
print(highestName + " has the highest first ionization energy, with a value of " + str(highest1IE) + ".")

Sodium has the lowest first ionization energy, with a value of 494.0.
Fluorine has the highest first ionization energy, with a value of 1680.

(e) Use the function in (c) to find and print the sum of the valences of the atoms in the compound NaCl

In [ ]:
valenceSum = chem_lookup(Chemical_element_data, "Sodium", "valence") + chem_lookup(Chemical_element_data, "Chlorine", "valence")
print(valenceSum)

8.0

5. Using functions to perform mathematical algorithms

(a) Implement a function to calculate the factorial of a number. Call this function to calculate the factorials of the integers from 1 to 20.

In [ ]:
def factorial(n):
    result = 1

    for i in range(1, n + 1):
        result *= i

    return result


for i in range(1, 20 + 1):
    print(factorial(i))

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000
2432902008176640000

(b) Use the function in (a) to find the lowest value of n where n! > 3**n;
(n! = n factorial = n x n-1 x ... x 3 x 2 x 1)

In [ ]:
n = 0

while factorial(n) <= 3 ** n:
    n += 1

print(n)

7

(c) Implement the function fizzbuzz:
Increment through the integers from 1 to 100
If an integer is divisible by 3, print the string "fizz"
If an integer is divisible by 5, print the string "buzz"
If an integer is divisible by both 3 and 5, print the string "fizzbuzz"

In [ ]:
def fizzbuzz():
    for i in range(1, 100 + 1):
        if i % 3 == 0 and i % 5 == 0:
            print("fizzbuzz")
        elif i % 3 == 0:
            print("fizz")
        elif i % 5 == 0:
            print("buzz")


fizzbuzz()

fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz

6. (2x) Combining functions in classes

(a) Create a class that combines the storing function in 4(a) and the
extracting function in 4(c), along with functions to calculate the mean and standard deviation of a list of numbers.

In [ ]:
class Chemistry:

    def __init__(self):
        self.data = Chemical_element_data

    def chem_store(self, chem_name, chem_attributes):
      attributes_list = chem_attributes.split(",")
      self.data[chem_name] = {}

      for entry in attributes_list:
          key, value = entry.split("=")
          self.data[chem_name][key] = float(value)

    def chem_lookup(self, element_name, attribute):
        return self.data[element_name][attribute]


def findMean(numList):
    sum = 0

    for i in range(len(numList)):
        sum += numList[i]

    return sum / len(numList)



def findSD(numList):
    sum = 0
    mean = findMean(numList)

    for i in range(len(numList)):
        sum += (numList[i] - mean) ** 2

    return (sum / len(numList)) ** (0.5)

(b) Use the class to retrieve the required data and calculate and print the average of the first ionization energies for the atoms in the compound NaCl

In [ ]:
chemistry_object = Chemistry()
nacl_first_ionization_energy = [
    chemistry_object.chem_lookup("Sodium", "first_ionization_energy"),
    chemistry_object.chem_lookup("Chlorine", "first_ionization_energy"),
]
print(findMean(nacl_first_ionization_energy))

877.0

(c) Use the class to retrieve the required data and calculate and print the standard deviations of the electronegativities of the atoms in the compound NaCl

In [ ]:
nacl_electronegativity = [
    chemistry_object.chem_lookup("Sodium", "electronegativity"),
    chemistry_object.chem_lookup("Chlorine", "electronegativity"),
]
print(findSD(nacl_electronegativity))

1.0499999999999998